<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reveal Effect</title>
    <link rel="stylesheet" href="css/beispiele_auswahl.css">
  </head>
  <body>
    <div class="overlay top"></div>
    <div class="overlay bottom"></div>

    <header class="header">Beispiele</header>
    <div class="content">
      <h1>Auswahl</h1>
      <p>
		<ul>
		  <li>
			<a href="index1.html">Beispiel 1</a>
		  </li>
		  <li>
			- eins</li>
		  <li>- zwei</li>
		  <li>- drei</li>
		  <li>- vier</li>
		</ul>
	  </p>
    </div>

    <script src="js/beispielauswahl.js"></script>
  </body>
</html>
